#header {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff47;
	border: 2px outset #838383;
	display: flex;
	justify-content: right;
	align-items: center;
	width: 98%;
	height: 100px;
	top: 20px;
	z-index: 98;
	text-transform: uppercase;
	border-radius: 10px;
	transition: 0.2s;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	top: 10px;
}


.logo > img {
	width: 69px;
	position: relative;
	bottom: 6px;
}

.menu {
	margin: 0 30px;
}

#header.header-fixed {
	position: fixed;
	width: 100%;
	top: 0;
	border-radius: 0px;
}

.menu ul {
	display: flex;
	text-align: center;
	list-style: none;
}

.menu ul li a {
  color: #ffffff;
  margin: 0px 15px;
  transition: color 0.3s;
  position: relative;
	font-size: 20px;
}

.menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #979797;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.menu ul li a:hover::before {
  transform: scaleX(1);
}

.activeMenu {
	color: #ffdd54 !important;
}


@media (max-width:480px) {
	#header {
		box-sizing: border-box;
		background-color: #fff;
		display: table;
		width: 100%;
		height: 90px;
		border-radius: 0px;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 0px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
		z-index: 9999;
		text-transform: uppercase;
	}
}